
:root {
  
  --background-color: #F8F9FA;
  --secondary-color: #6C757D;  
  --accent-color: #20C997;    
  --text-color: #212529;      
  --surface-color: #ffffff;   
  --border-color: #dee2e6;    
  --income-color: #198754;
  --expense-color: #DC3545;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}


.mat-mdc-raised-button.mat-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}


.mat-mdc-fab.mat-accent {
  background-color: var(--accent-color);
  color: #ffffff;
}


.error-snackbar {
  background-color: var(--expense-color);
  color: #ffffff;
}