 <mat-sidenav-container class="sidenav-container">
 
 <!-- Sidenav has a simple reference variable #sidenav -->
 <mat-sidenav #sidenav class="sidenav" mode="side" opened>
   <div class="sidenav-header">
     Clarity Finance
   </div>
   <mat-nav-list>
     <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
       <mat-icon matListItemIcon>dashboard</mat-icon>
       <span>Dashboard</span>
     </a>
     <a mat-list-item routerLink="/transactions" routerLinkActive="active">
       <mat-icon matListItemIcon>receipt_long</mat-icon>
       <span>Transactions</span>
     </a>
     <a mat-list-item routerLink="/management" routerLinkActive="active">
       <mat-icon matListItemIcon>settings</mat-icon>
       <span>Management</span>
     </a>
   </mat-nav-list>
 </mat-sidenav>

 <mat-sidenav-content>
   <mat-toolbar class="main-toolbar">
     
     <button
       type="button"
       aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        class="menu-button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onLogout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container> 